<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Signup</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/assets/css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/assets/css/style.css"/>
	<style>
		a:link, a:visited {
		  background-color: rgb(23, 142, 221);
		  color: rgb(245, 243, 243);
		  border: 2px solid rgb(235, 238, 238);
		  padding: 10px 20px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		}
		
		a:hover, a:active {
		  background-color: rgb(23, 142, 221);
		  color: white;
		}
		</style>
</head>
<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('static/assets/images/form-v9.jpg')">
			<form class="form-detail" action="/signup" method="GET">
				<h2>Registration Form</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="user" id="full-name" class="input-text" placeholder="Your Username" required>
					</div>
					<div class="form-row">
						<input type="text" name="name" id="full-name1" class="input-text" placeholder="Your Name" required>
					</div>
					
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="email" id="your-email" class="input-text" placeholder="Your Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
					</div>
					<div class="form-row">
						<input type="text" name="number" id="full-name2" class="input-text" placeholder="Your Number" required>
					</div>
					
					
				</div>
				<div class="form-row-total">
					
					<div class="form-row">
						<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					</div>
					
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
				<div class="form-row-last">
					<p style="margin-left: 50px;" class="text-1">Click here for Signin

					</p>
					<a class="register" href="/login">Signin</a>
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>